<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Produtos</title>
</head>
<body>
    <h1>Bem-vindo aos seus Clientes</h1>
    <hr>
    <h3>Confira nossos Clientes!</h3>

    <% listaClientes.forEach(function(clientes) { %>
        <p>
            <a href="/clientes/<%= clientes %>">
                <%= clientes %>
            </a>
        </p>
    <% }); %>

    <p><a href="/">Voltar para a página inicial</a></p>

</body>
</html>