<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Detalhe do Cliente</title>
</head>
<body>
    <h1><%= clientes %></h1>

   

    <p><a href="/clientes">Voltar para Clientes</a></p>
    <p><a href="/">Voltar para página inicial</a></p>

</body>
</html>
