<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Detalhe do Produto</title>
</head>
<body>
    <h1>Produto selecionado:</h1>

    <h2><%= produto %></h2>

    <hr>

    <p><a href="/produtos">Voltar para produtos</a></p>
    <p><a href="/">Voltar para página inicial</a></p>

</body>
</html>